@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #f8f8f8;
  --dark: #333;
  --accent: #ffd700;
  --ruby: #e0115f;
  --light-dark: rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  @apply bg-accent text-dark;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease;
  font-weight: bold;
}

.button.delete {
  @apply bg-ruby;
  @apply text-light;
}

.button:hover {
  opacity: 0.8;
}

.input {
  @apply bg-light text-dark;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--dark);
  transition: border-color 0.3s ease;
}

.input:hover {
  border-color: var(--accent);
}
